@font-face {
  font-family: "nunito";
  src: url(./fonts/Nunito.ttf);
}
body {
  background-color: #f2f7ff;
  font-family: "nunito", sans-serif;
}
/* ---------------------- color ----------------------- */
.bg-purple {
  background-color: #9694ff;
}
.bg-skyblue {
  background-color: #57caeb;
}
.bg-lightcoral {
  background-color: #ff7976;
}
.bg-lightgreen {
  background-color: #5ddab4;
}

/* -------------------- Define static classes --------------------- */
.font-semibold {
  font-weight: 600;
}

.text-muted-custom {
  opacity: 1;
  color: #7c8db5 !important;
}
.font-extrabold {
  font-weight: 800;
}
li{
  list-style: none !important;
}
.text-deepblue{
  color: #25396f;
}
/* ------------------rewright bootstarp class--------------------- */
h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
  margin-top: 0;
  margin-bottom: .5rem;
  font-weight: 700;
  line-height: 1.2;
  color: #25396f;
}
a:hover {
  color: #25396f !important;
}
.form-check-input:focus,
.form-check-input:focus-visible {
  border-color: none !important;
  outline: 0;
  box-shadow: none !important;
}
.form-check-input:checked {
  background-color: #435ebe !important;
  border-color: #435ebe !important;
}
.list-group-item.active {
  z-index: 2;
  color: #fff !important;
  background-color: #435ebe !important;
  border-color: #435ebe !important;
}
.btn.btn-light-primary {
  background-color: #ebf3ff;
  color: #002152;
}
.btn-primary {
  background-color: #435ebe !important;
}
.text-bg-primary {
  color: #fff!important;
  background-color: #435ebe !important;
}
.text-dimgray{
  color: rgb(105, 105, 105);
}
.badge {
  padding: 4px 8px;
  font-size: 0.85em;
  font-weight: 700;
  color: #fff;
  border-radius: 0.25rem;
  display: inline-block;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
}
.bg-primary {
  background-color: #435ebe !important;
}
.bg-light-primary {
  background-color: #ebf3ff;
  color: #002152;
}
.bg-light-success {
  background-color: #d2ffe8;
  color: #00391c;
}
.bg-light-danger {
  background-color: #ffdede;
  color: #450000;
}
.bg-light-secondary {
  background-color: #e6eaee;
  color: #181e24;
}
.bg-light-warning {
  background-color: #fffdd8;
  color: #3f3c00;
}
.bg-light-info {
  background-color: #e6fdff;
  color: #00474d;
}
.bg-light-dark {
  background-color: #e3e3e3;
  color: #171717;
}
.alert {
  border: none !important;
}
.alert-primary {
  background-color: #435ebe !important;
  color: #fff !important;
}
.alert-success {
  background-color: #28ab55 !important;
  color: #fff !important;
}
.alert-warning {
  background-color: #eaca4a !important;
  color: #3f3a26 !important;
}
.alert-danger {
  background-color: #f3616d !important;
  color: #fff !important;
}
.alert-dark {
  background-color: #454546 !important;
  color: #fff !important;
}
.alert-secondary {
  background-color: #ebeef3 !important;
  color: #383d41 !important;
}
.alert-light {
  background-color: #f9f9f9 !important;
  color: #818182 !important;
}
.alert-info {
  background-color: #56b6f7 !important;
  color: #fff !important;
}
.alert-light-primary {
  background-color: #ebf3ff;
  color: #37578d;
  border: 1px solid #dceaff;
}
.alert-light-success {
  background-color: #d2ffe8;
  color: #2f8b5d;
  border: 1px solid #c3ffe0;
}
.alert-light-warning {
  background-color: #fffdd8;
  color: #8c8630;
  border: 1px solid #fffcc9;
}
.alert-light-danger {
  background-color: #ffdede;
  color: #8c3333;
  border: 1px solid #ffcfcf;
}
.alert-light-secondary {
  background-color: #e4eaf0;
  color: #376a84;
  border: 1px solid #dde2e8;
}
.alert-light-info {
  background-color: #e6fdff;
  color: #35848d;
  border: 1px solid #d7fcff;
}
.alert-heading{
  font-weight: 700;
  font-size: 1.2rem;
}
.card-link{
  text-decoration: none;
}
/* ----------------- custom styles ----------------- */
.app {
  position: relative;
}
.btn .badge.bg-transparent {
  background-color: rgba(255,255,255,.25)!important;
  color: #fff;
  border-radius: 50%;
}
/* ****************** sidebar styles part ****************** */
.sidebar {
  position: fixed;
  width: 300px;
  height: 100vh;
  background-color: #fff;
  padding: 2rem;
  z-index: 99;
  overflow-y: scroll;
}
/* ===== Scrollbars ===== */
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
/* ::-webkit-scrollbar-track {} */

/* Handle */
::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 4px;
}

/* ===== Scrollbars ===== */

.sidemenu-close-btn {
  display: none;
}
.sidemenu-close-btn svg {
  width: 28px;
  height: 28px;
  color: #25396f;
}
.sidemenu-close-btn svg:hover {
  width: 28px;
  height: 28px;
  color: #364b98;
}
.sidebar-logo-icon {
  width: 80px;
}
.sidebar-menu-topic {
  padding: 0 1rem;
  margin: 1.5rem 0 1rem;
  font-size: 1rem;
  font-weight: 700;
  color: #25396f;
  text-transform: capitalize;
}
.sidebar-menu-title {
  margin: 1rem 0;
  font-size: 1rem;
  color: #25396f;
  text-transform: capitalize;
  border-radius: 0.7rem;
  cursor: pointer;
}
.sidebar-menu-title > a{
  position: relative;
  display: block;
  padding: 0.7rem 1.5rem;
  text-decoration: none;
  color: #25396f;
  font-weight: 600;
  text-transform: capitalize;
  border-radius: 0.7rem;
}
.sidebar-menu-title > a:hover:not(.menu-active){
  background-color: #f0f1f5;
}
.sidebar-menu-title i{
  color: #7c8db5;
  margin-right: 3px;
}
.sidebar-menu-title .menu-active{
  background-color: #435ebe;
  color: #f0f1f5;
}
.menu-has-submenu{
  transition: all 0.5s;
}
.menu-active {
  color: #fff;
}
.slider-submenus{
  max-height: 0;
  overflow: hidden;
  background-color: #fff;
  transition: all 0.5s;

}
.submenu-avtive{
  color: #435ebe;
}
.slider-submenu-item > a{
  padding: 0.5rem 1.5rem;
  display: block;
  color: #25396f;
  font-size: 0.85rem;
  font-weight: 600;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.4s;
}
.slider-submenu-item > a:hover{
  margin-left: 0.3rem;
  color: #435ebe;
}
.slider-submenus-second{
  max-height: 0;
  overflow: hidden;
  background-color: #fff;
  transition: all 0.5s;
}

@media (max-width: 1199px) {
  .sidebar-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9;
  }
  .sidemenu-close-btn {
    display: contents;
    background: transparent;
  }
}
/* ****************** msain styles part ****************** */
.main {
  padding: 2rem;
  width: 80%;
  margin-left: 300px;
}
.sidemenu-open-btn {
  display: none;
  background: transparent;
  border: 0;
}
.sidemenu-open-btn svg {
  width: 36px;
  height: 36px;
  color: #25396f;
}
.main-text-topic {
  color: #25396f;
  font-weight: 700;
}
@media (max-width: 1199px) {
  .sidemenu-open-btn {
    display: block;
    background: transparent;
    border: 0;
  }
}
/* status-cards */
.stats-icon {
  width: 3rem;
  height: 3rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.main-card-profile{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.card-title{
  font-size: 20px;
  font-weight: 700;
  margin-top: 1.5rem;
  margin-left: 1rem;
  color: #25396f;
}
.card-header-custom{
  background-color: #fff !important;
  border: 0 !important;
  margin-top: 1rem;

}
.card-header-custom h5{
  font-size: 1.2rem !important;
  font-weight: 700 !important;
  color: #25396f !important;
}
.card .card-content {
  position: relative;
}
/* ---------- footer --------------- */
.footer-contents{
  color: #7c8db5;
  display: flex;
  align-items: center;
  justify-content: space-between;
}